In [19]:
import pickle

# Define the path to the directory
directory_path = "../Datasets/sgcc_processed"

with open(directory_path+'/data_triple_mask_normalized.pkl', 'rb') as data_file:
    data = pickle.load(data_file)

with open(directory_path+'/labels.pkl', 'rb') as data_file:
    labels = pickle.load(data_file)

with open(directory_path+'/splits.pkl', 'rb') as data_file:
    splits = pickle.load(data_file)

# Print the names of the loaded dataframes

In [18]:
data.shape

(40185, 3, 1029)

# Transform data to be send in a request

The row should be converted into a dictionary where each key represent a timestamp and its value the consumption made. The algorithm is trained with 1035 days so every record to be predicted must to have this size. The first day in the data should be monday.

In [7]:
import sys, os
sys.path.append(os.path.abspath(os.path.join('..', 'Utils')))

from data import get_dataset

file_path = '../Datasets/data.csv'

# get_dataset return the raw data ordered by time. Last column is the target variable
df_raw = get_dataset(file_path)

In [ ]:
import json

# Select the row
selected_row = df_raw.iloc[1, :]

# Convert the row to a dictionary
row_dict = selected_row.to_dict()

# Convert the dictionary to a JSON string with string keys
row_json = json.dumps({str(key): value for key, value in row_dict.items()})

In [10]:
row_json

'{"2014-01-01 00:00:00": NaN, "2014-01-02 00:00:00": NaN, "2014-01-03 00:00:00": NaN, "2014-01-04 00:00:00": NaN, "2014-01-05 00:00:00": NaN, "2014-01-06 00:00:00": NaN, "2014-01-07 00:00:00": NaN, "2014-01-08 00:00:00": NaN, "2014-01-09 00:00:00": NaN, "2014-01-10 00:00:00": NaN, "2014-01-11 00:00:00": NaN, "2014-01-12 00:00:00": NaN, "2014-01-13 00:00:00": NaN, "2014-01-14 00:00:00": NaN, "2014-01-15 00:00:00": NaN, "2014-01-16 00:00:00": NaN, "2014-01-17 00:00:00": NaN, "2014-01-18 00:00:00": NaN, "2014-01-19 00:00:00": NaN, "2014-01-20 00:00:00": NaN, "2014-01-21 00:00:00": NaN, "2014-01-22 00:00:00": NaN, "2014-01-23 00:00:00": NaN, "2014-01-24 00:00:00": NaN, "2014-01-25 00:00:00": NaN, "2014-01-26 00:00:00": NaN, "2014-01-27 00:00:00": NaN, "2014-01-28 00:00:00": NaN, "2014-01-29 00:00:00": NaN, "2014-01-30 00:00:00": NaN, "2014-01-31 00:00:00": NaN, "2014-02-01 00:00:00": NaN, "2014-02-02 00:00:00": NaN, "2014-02-03 00:00:00": NaN, "2014-02-04 00:00:00": NaN, "2014-02-05 00:00:00": NaN, "2014-02-06 00:00:00": NaN, "2014-02-07 00:00:00": NaN, "2014-02-08 00:00:00": NaN, "2014-02-09 00:00:00": NaN, "2014-02-10 00:00:00": NaN, "2014-02-11 00:00:00": NaN, "2014-02-12 00:00:00": NaN, "2014-02-13 00:00:00": NaN, "2014-02-14 00:00:00": NaN, "2014-02-15 00:00:00": NaN, "2014-02-16 00:00:00": NaN, "2014-02-17 00:00:00": NaN, "2014-02-18 00:00:00": NaN, "2014-02-19 00:00:00": NaN, "2014-02-20 00:00:00": NaN, "2014-02-21 00:00:00": NaN, "2014-02-22 00:00:00": NaN, "2014-02-23 00:00:00": NaN, "2014-02-24 00:00:00": NaN, "2014-02-25 00:00:00": NaN, "2014-02-26 00:00:00": NaN, "2014-02-27 00:00:00": NaN, "2014-02-28 00:00:00": NaN, "2014-03-01 00:00:00": NaN, "2014-03-02 00:00:00": NaN, "2014-03-03 00:00:00": NaN, "2014-03-04 00:00:00": NaN, "2014-03-05 00:00:00": NaN, "2014-03-06 00:00:00": NaN, "2014-03-07 00:00:00": NaN, "2014-03-08 00:00:00": NaN, "2014-03-09 00:00:00": NaN, "2014-03-10 00:00:00": NaN, "2014-03-11 00:00:00": NaN, "2014-03-12 00:00:00": NaN, "2014-03-13 00:00:00": NaN, "2014-03-14 00:00:00": NaN, "2014-03-15 00:00:00": NaN, "2014-03-16 00:00:00": NaN, "2014-03-17 00:00:00": NaN, "2014-03-18 00:00:00": NaN, "2014-03-19 00:00:00": NaN, "2014-03-20 00:00:00": NaN, "2014-03-21 00:00:00": NaN, "2014-03-22 00:00:00": NaN, "2014-03-23 00:00:00": NaN, "2014-03-24 00:00:00": NaN, "2014-03-25 00:00:00": NaN, "2014-03-26 00:00:00": NaN, "2014-03-27 00:00:00": NaN, "2014-03-28 00:00:00": NaN, "2014-03-29 00:00:00": NaN, "2014-03-30 00:00:00": NaN, "2014-03-31 00:00:00": NaN, "2014-04-01 00:00:00": NaN, "2014-04-02 00:00:00": NaN, "2014-04-03 00:00:00": NaN, "2014-04-04 00:00:00": NaN, "2014-04-05 00:00:00": NaN, "2014-04-06 00:00:00": NaN, "2014-04-07 00:00:00": NaN, "2014-04-08 00:00:00": NaN, "2014-04-09 00:00:00": NaN, "2014-04-10 00:00:00": NaN, "2014-04-11 00:00:00": NaN, "2014-04-12 00:00:00": NaN, "2014-04-13 00:00:00": NaN, "2014-04-14 00:00:00": NaN, "2014-04-15 00:00:00": NaN, "2014-04-16 00:00:00": NaN, "2014-04-17 00:00:00": NaN, "2014-04-18 00:00:00": NaN, "2014-04-19 00:00:00": NaN, "2014-04-20 00:00:00": NaN, "2014-04-21 00:00:00": NaN, "2014-04-22 00:00:00": NaN, "2014-04-23 00:00:00": NaN, "2014-04-24 00:00:00": NaN, "2014-04-25 00:00:00": NaN, "2014-04-26 00:00:00": NaN, "2014-04-27 00:00:00": NaN, "2014-04-28 00:00:00": NaN, "2014-04-29 00:00:00": NaN, "2014-04-30 00:00:00": NaN, "2014-05-01 00:00:00": NaN, "2014-05-02 00:00:00": NaN, "2014-05-03 00:00:00": NaN, "2014-05-04 00:00:00": NaN, "2014-05-05 00:00:00": NaN, "2014-05-06 00:00:00": NaN, "2014-05-07 00:00:00": NaN, "2014-05-08 00:00:00": NaN, "2014-05-09 00:00:00": NaN, "2014-05-10 00:00:00": NaN, "2014-05-11 00:00:00": NaN, "2014-05-12 00:00:00": NaN, "2014-05-13 00:00:00": NaN, "2014-05-14 00:00:00": NaN, "2014-05-15 00:00:00": NaN, "2014-05-16 00:00:00": NaN, "2014-05-17 00:00:00": NaN, "2014-05-18 00:00:00": NaN, "2014-05-19 00:00:00": NaN, "2014-05-20 00:00:00": NaN, "2014-05-21 00:00:00": NaN, "2014-05-22 00:00:00": NaN, "2014-05-23 00:00:00": NaN, "2014-05-24 00:00:00": NaN, "2014-05-25 00:00:00": NaN, "2014-05-26 00:00:00": NaN, "2014-05-27 00:00:00": NaN, "2014-05-28 00:00:00": NaN, "2014-05-29 00:00:00": NaN, "2014-05-30 00:00:00": NaN, "2014-05-31 00:00:00": NaN, "2014-06-01 00:00:00": NaN, "2014-06-02 00:00:00": NaN, "2014-06-03 00:00:00": NaN, "2014-06-04 00:00:00": NaN, "2014-06-05 00:00:00": NaN, "2014-06-06 00:00:00": NaN, "2014-06-07 00:00:00": NaN, "2014-06-08 00:00:00": NaN, "2014-06-09 00:00:00": NaN, "2014-06-10 00:00:00": NaN, "2014-06-11 00:00:00": NaN, "2014-06-12 00:00:00": NaN, "2014-06-13 00:00:00": NaN, "2014-06-14 00:00:00": NaN, "2014-06-15 00:00:00": NaN, "2014-06-16 00:00:00": NaN, "2014-06-17 00:00:00": NaN, "2014-06-18 00:00:00": NaN, "2014-06-19 00:00:00": NaN, "2014-06-20 00:00:00": NaN, "2014-06-21 00:00:00": NaN, "2014-06-22 00:00:00": NaN, "2014-06-23 00:00:00": NaN, "2014-06-24 00:00:00": NaN, "2014-06-25 00:00:00": NaN, "2014-06-26 00:00:00": NaN, "2014-06-27 00:00:00": NaN, "2014-06-28 00:00:00": NaN, "2014-06-29 00:00:00": NaN, "2014-06-30 00:00:00": NaN, "2014-07-01 00:00:00": NaN, "2014-07-02 00:00:00": NaN, "2014-07-03 00:00:00": NaN, "2014-07-04 00:00:00": NaN, "2014-07-05 00:00:00": NaN, "2014-07-06 00:00:00": NaN, "2014-07-07 00:00:00": NaN, "2014-07-08 00:00:00": NaN, "2014-07-09 00:00:00": NaN, "2014-07-10 00:00:00": NaN, "2014-07-11 00:00:00": NaN, "2014-07-12 00:00:00": NaN, "2014-07-13 00:00:00": NaN, "2014-07-14 00:00:00": NaN, "2014-07-15 00:00:00": NaN, "2014-07-16 00:00:00": NaN, "2014-07-17 00:00:00": NaN, "2014-07-18 00:00:00": NaN, "2014-07-19 00:00:00": NaN, "2014-07-20 00:00:00": NaN, "2014-07-21 00:00:00": NaN, "2014-07-22 00:00:00": NaN, "2014-07-23 00:00:00": NaN, "2014-07-24 00:00:00": NaN, "2014-07-25 00:00:00": NaN, "2014-07-26 00:00:00": NaN, "2014-07-27 00:00:00": NaN, "2014-07-28 00:00:00": NaN, "2014-07-29 00:00:00": NaN, "2014-07-30 00:00:00": NaN, "2014-07-31 00:00:00": NaN, "2014-08-01 00:00:00": NaN, "2014-08-02 00:00:00": NaN, "2014-08-03 00:00:00": NaN, "2014-08-04 00:00:00": NaN, "2014-08-05 00:00:00": NaN, "2014-08-06 00:00:00": NaN, "2014-08-07 00:00:00": NaN, "2014-08-08 00:00:00": NaN, "2014-08-09 00:00:00": NaN, "2014-08-10 00:00:00": NaN, "2014-08-11 00:00:00": NaN, "2014-08-12 00:00:00": NaN, "2014-08-13 00:00:00": NaN, "2014-08-14 00:00:00": NaN, "2014-08-15 00:00:00": NaN, "2014-08-16 00:00:00": NaN, "2014-08-17 00:00:00": NaN, "2014-08-18 00:00:00": NaN, "2014-08-19 00:00:00": NaN, "2014-08-20 00:00:00": NaN, "2014-08-21 00:00:00": NaN, "2014-08-22 00:00:00": NaN, "2014-08-23 00:00:00": NaN, "2014-08-24 00:00:00": NaN, "2014-08-25 00:00:00": NaN, "2014-08-26 00:00:00": NaN, "2014-08-27 00:00:00": NaN, "2014-08-28 00:00:00": NaN, "2014-08-29 00:00:00": NaN, "2014-08-30 00:00:00": NaN, "2014-08-31 00:00:00": NaN, "2014-09-01 00:00:00": NaN, "2014-09-02 00:00:00": NaN, "2014-09-03 00:00:00": NaN, "2014-09-04 00:00:00": NaN, "2014-09-05 00:00:00": NaN, "2014-09-06 00:00:00": NaN, "2014-09-07 00:00:00": NaN, "2014-09-08 00:00:00": NaN, "2014-09-09 00:00:00": NaN, "2014-09-10 00:00:00": NaN, "2014-09-11 00:00:00": NaN, "2014-09-12 00:00:00": NaN, "2014-09-13 00:00:00": NaN, "2014-09-14 00:00:00": NaN, "2014-09-15 00:00:00": NaN, "2014-09-16 00:00:00": NaN, "2014-09-17 00:00:00": NaN, "2014-09-18 00:00:00": NaN, "2014-09-19 00:00:00": NaN, "2014-09-20 00:00:00": NaN, "2014-09-21 00:00:00": NaN, "2014-09-22 00:00:00": NaN, "2014-09-23 00:00:00": NaN, "2014-09-24 00:00:00": NaN, "2014-09-25 00:00:00": NaN, "2014-09-26 00:00:00": NaN, "2014-09-27 00:00:00": NaN, "2014-09-28 00:00:00": NaN, "2014-09-29 00:00:00": NaN, "2014-09-30 00:00:00": NaN, "2014-10-01 00:00:00": NaN, "2014-10-02 00:00:00": NaN, "2014-10-03 00:00:00": NaN, "2014-10-04 00:00:00": NaN, "2014-10-05 00:00:00": NaN, "2014-10-06 00:00:00": NaN, "2014-10-07 00:00:00": NaN, "2014-10-08 00:00:00": NaN, "2014-10-09 00:00:00": NaN, "2014-10-10 00:00:00": NaN, "2014-10-11 00:00:00": NaN, "2014-10-12 00:00:00": NaN, "2014-10-13 00:00:00": NaN, "2014-10-14 00:00:00": NaN, "2014-10-15 00:00:00": NaN, "2014-10-16 00:00:00": NaN, "2014-10-17 00:00:00": NaN, "2014-10-18 00:00:00": NaN, "2014-10-19 00:00:00": NaN, "2014-10-20 00:00:00": NaN, "2014-10-21 00:00:00": NaN, "2014-10-22 00:00:00": NaN, "2014-10-23 00:00:00": NaN, "2014-10-24 00:00:00": NaN, "2014-10-25 00:00:00": NaN, "2014-10-26 00:00:00": NaN, "2014-10-27 00:00:00": NaN, "2014-10-28 00:00:00": NaN, "2014-10-29 00:00:00": NaN, "2014-10-30 00:00:00": NaN, "2014-10-31 00:00:00": NaN, "2014-11-01 00:00:00": NaN, "2014-11-02 00:00:00": NaN, "2014-11-03 00:00:00": NaN, "2014-11-04 00:00:00": NaN, "2014-11-05 00:00:00": NaN, "2014-11-06 00:00:00": NaN, "2014-11-07 00:00:00": NaN, "2014-11-08 00:00:00": NaN, "2014-11-09 00:00:00": NaN, "2014-11-10 00:00:00": NaN, "2014-11-11 00:00:00": NaN, "2014-11-12 00:00:00": NaN, "2014-11-13 00:00:00": NaN, "2014-11-14 00:00:00": NaN, "2014-11-15 00:00:00": NaN, "2014-11-16 00:00:00": NaN, "2014-11-17 00:00:00": NaN, "2014-11-18 00:00:00": NaN, "2014-11-19 00:00:00": NaN, "2014-11-20 00:00:00": NaN, "2014-11-21 00:00:00": NaN, "2014-11-22 00:00:00": NaN, "2014-11-23 00:00:00": NaN, "2014-11-24 00:00:00": NaN, "2014-11-25 00:00:00": NaN, "2014-11-26 00:00:00": NaN, "2014-11-27 00:00:00": NaN, "2014-11-28 00:00:00": NaN, "2014-11-29 00:00:00": NaN, "2014-11-30 00:00:00": NaN, "2014-12-01 00:00:00": NaN, "2014-12-02 00:00:00": NaN, "2014-12-03 00:00:00": NaN, "2014-12-04 00:00:00": NaN, "2014-12-05 00:00:00": NaN, "2014-12-06 00:00:00": NaN, "2014-12-07 00:00:00": NaN, "2014-12-08 00:00:00": NaN, "2014-12-09 00:00:00": NaN, "2014-12-10 00:00:00": NaN, "2014-12-11 00:00:00": NaN, "2014-12-12 00:00:00": NaN, "2014-12-13 00:00:00": NaN, "2014-12-14 00:00:00": NaN, "2014-12-15 00:00:00": NaN, "2014-12-16 00:00:00": NaN, "2014-12-17 00:00:00": NaN, "2014-12-18 00:00:00": NaN, "2014-12-19 00:00:00": NaN, "2014-12-20 00:00:00": NaN, "2014-12-21 00:00:00": NaN, "2014-12-22 00:00:00": NaN, "2014-12-23 00:00:00": NaN, "2014-12-24 00:00:00": NaN, "2014-12-25 00:00:00": NaN, "2014-12-26 00:00:00": NaN, "2014-12-27 00:00:00": NaN, "2014-12-28 00:00:00": NaN, "2014-12-29 00:00:00": NaN, "2014-12-30 00:00:00": NaN, "2014-12-31 00:00:00": NaN, "2015-01-01 00:00:00": NaN, "2015-01-02 00:00:00": NaN, "2015-01-03 00:00:00": NaN, "2015-01-04 00:00:00": NaN, "2015-01-05 00:00:00": NaN, "2015-01-06 00:00:00": NaN, "2015-01-07 00:00:00": NaN, "2015-01-08 00:00:00": NaN, "2015-01-09 00:00:00": NaN, "2015-01-10 00:00:00": NaN, "2015-01-11 00:00:00": NaN, "2015-01-12 00:00:00": NaN, "2015-01-13 00:00:00": NaN, "2015-01-14 00:00:00": NaN, "2015-01-15 00:00:00": NaN, "2015-01-16 00:00:00": NaN, "2015-01-17 00:00:00": NaN, "2015-01-18 00:00:00": NaN, "2015-01-19 00:00:00": NaN, "2015-01-20 00:00:00": NaN, "2015-01-21 00:00:00": NaN, "2015-01-22 00:00:00": NaN, "2015-01-23 00:00:00": NaN, "2015-01-24 00:00:00": NaN, "2015-01-25 00:00:00": NaN, "2015-01-26 00:00:00": NaN, "2015-01-27 00:00:00": NaN, "2015-01-28 00:00:00": NaN, "2015-01-29 00:00:00": NaN, "2015-01-30 00:00:00": NaN, "2015-01-31 00:00:00": NaN, "2015-02-01 00:00:00": NaN, "2015-02-02 00:00:00": NaN, "2015-02-03 00:00:00": NaN, "2015-02-04 00:00:00": NaN, "2015-02-05 00:00:00": NaN, "2015-02-06 00:00:00": NaN, "2015-02-07 00:00:00": NaN, "2015-02-08 00:00:00": NaN, "2015-02-09 00:00:00": NaN, "2015-02-10 00:00:00": NaN, "2015-02-11 00:00:00": NaN, "2015-02-12 00:00:00": NaN, "2015-02-13 00:00:00": NaN, "2015-02-14 00:00:00": NaN, "2015-02-15 00:00:00": NaN, "2015-02-16 00:00:00": NaN, "2015-02-17 00:00:00": NaN, "2015-02-18 00:00:00": NaN, "2015-02-19 00:00:00": NaN, "2015-02-20 00:00:00": NaN, "2015-02-21 00:00:00": NaN, "2015-02-22 00:00:00": NaN, "2015-02-23 00:00:00": NaN, "2015-02-24 00:00:00": NaN, "2015-02-25 00:00:00": NaN, "2015-02-26 00:00:00": NaN, "2015-02-27 00:00:00": NaN, "2015-02-28 00:00:00": NaN, "2015-03-01 00:00:00": NaN, "2015-03-02 00:00:00": NaN, "2015-03-03 00:00:00": NaN, "2015-03-04 00:00:00": NaN, "2015-03-05 00:00:00": NaN, "2015-03-06 00:00:00": NaN, "2015-03-07 00:00:00": NaN, "2015-03-08 00:00:00": NaN, "2015-03-09 00:00:00": NaN, "2015-03-10 00:00:00": NaN, "2015-03-11 00:00:00": NaN, "2015-03-12 00:00:00": NaN, "2015-03-13 00:00:00": NaN, "2015-03-14 00:00:00": NaN, "2015-03-15 00:00:00": NaN, "2015-03-16 00:00:00": NaN, "2015-03-17 00:00:00": NaN, "2015-03-18 00:00:00": NaN, "2015-03-19 00:00:00": NaN, "2015-03-20 00:00:00": NaN, "2015-03-21 00:00:00": NaN, "2015-03-22 00:00:00": NaN, "2015-03-23 00:00:00": NaN, "2015-03-24 00:00:00": NaN, "2015-03-25 00:00:00": NaN, "2015-03-26 00:00:00": NaN, "2015-03-27 00:00:00": NaN, "2015-03-28 00:00:00": NaN, "2015-03-29 00:00:00": NaN, "2015-03-30 00:00:00": NaN, "2015-03-31 00:00:00": NaN, "2015-04-01 00:00:00": NaN, "2015-04-02 00:00:00": NaN, "2015-04-03 00:00:00": NaN, "2015-04-04 00:00:00": NaN, "2015-04-05 00:00:00": NaN, "2015-04-06 00:00:00": NaN, "2015-04-07 00:00:00": NaN, "2015-04-08 00:00:00": NaN, "2015-04-09 00:00:00": NaN, "2015-04-10 00:00:00": NaN, "2015-04-11 00:00:00": NaN, "2015-04-12 00:00:00": NaN, "2015-04-13 00:00:00": NaN, "2015-04-14 00:00:00": NaN, "2015-04-15 00:00:00": NaN, "2015-04-16 00:00:00": NaN, "2015-04-17 00:00:00": NaN, "2015-04-18 00:00:00": NaN, "2015-04-19 00:00:00": NaN, "2015-04-20 00:00:00": NaN, "2015-04-21 00:00:00": NaN, "2015-04-22 00:00:00": NaN, "2015-04-23 00:00:00": NaN, "2015-04-24 00:00:00": NaN, "2015-04-25 00:00:00": NaN, "2015-04-26 00:00:00": NaN, "2015-04-27 00:00:00": NaN, "2015-04-28 00:00:00": NaN, "2015-04-29 00:00:00": NaN, "2015-04-30 00:00:00": NaN, "2015-05-01 00:00:00": NaN, "2015-05-02 00:00:00": NaN, "2015-05-03 00:00:00": NaN, "2015-05-04 00:00:00": NaN, "2015-05-05 00:00:00": NaN, "2015-05-06 00:00:00": NaN, "2015-05-07 00:00:00": NaN, "2015-05-08 00:00:00": NaN, "2015-05-09 00:00:00": NaN, "2015-05-10 00:00:00": NaN, "2015-05-11 00:00:00": NaN, "2015-05-12 00:00:00": NaN, "2015-05-13 00:00:00": NaN, "2015-05-14 00:00:00": NaN, "2015-05-15 00:00:00": NaN, "2015-05-16 00:00:00": NaN, "2015-05-17 00:00:00": NaN, "2015-05-18 00:00:00": NaN, "2015-05-19 00:00:00": NaN, "2015-05-20 00:00:00": NaN, "2015-05-21 00:00:00": NaN, "2015-05-22 00:00:00": NaN, "2015-05-23 00:00:00": NaN, "2015-05-24 00:00:00": NaN, "2015-05-25 00:00:00": NaN, "2015-05-26 00:00:00": NaN, "2015-05-27 00:00:00": NaN, "2015-05-28 00:00:00": NaN, "2015-05-29 00:00:00": NaN, "2015-05-30 00:00:00": NaN, "2015-05-31 00:00:00": NaN, "2015-06-01 00:00:00": NaN, "2015-06-02 00:00:00": NaN, "2015-06-03 00:00:00": NaN, "2015-06-04 00:00:00": NaN, "2015-06-05 00:00:00": NaN, "2015-06-06 00:00:00": NaN, "2015-06-07 00:00:00": NaN, "2015-06-08 00:00:00": NaN, "2015-06-09 00:00:00": NaN, "2015-06-10 00:00:00": NaN, "2015-06-11 00:00:00": NaN, "2015-06-12 00:00:00": NaN, "2015-06-13 00:00:00": NaN, "2015-06-14 00:00:00": NaN, "2015-06-15 00:00:00": NaN, "2015-06-16 00:00:00": NaN, "2015-06-17 00:00:00": NaN, "2015-06-18 00:00:00": NaN, "2015-06-19 00:00:00": NaN, "2015-06-20 00:00:00": NaN, "2015-06-21 00:00:00": NaN, "2015-06-22 00:00:00": NaN, "2015-06-23 00:00:00": NaN, "2015-06-24 00:00:00": NaN, "2015-06-25 00:00:00": NaN, "2015-06-26 00:00:00": NaN, "2015-06-27 00:00:00": NaN, "2015-06-28 00:00:00": NaN, "2015-06-29 00:00:00": NaN, "2015-06-30 00:00:00": NaN, "2015-07-01 00:00:00": NaN, "2015-07-02 00:00:00": NaN, "2015-07-03 00:00:00": NaN, "2015-07-04 00:00:00": NaN, "2015-07-05 00:00:00": NaN, "2015-07-06 00:00:00": NaN, "2015-07-07 00:00:00": NaN, "2015-07-08 00:00:00": NaN, "2015-07-09 00:00:00": NaN, "2015-07-10 00:00:00": NaN, "2015-07-11 00:00:00": NaN, "2015-07-12 00:00:00": NaN, "2015-07-13 00:00:00": NaN, "2015-07-14 00:00:00": NaN, "2015-07-15 00:00:00": NaN, "2015-07-16 00:00:00": NaN, "2015-07-17 00:00:00": NaN, "2015-07-18 00:00:00": NaN, "2015-07-19 00:00:00": NaN, "2015-07-20 00:00:00": NaN, "2015-07-21 00:00:00": NaN, "2015-07-22 00:00:00": NaN, "2015-07-23 00:00:00": NaN, "2015-07-24 00:00:00": NaN, "2015-07-25 00:00:00": NaN, "2015-07-26 00:00:00": NaN, "2015-07-27 00:00:00": NaN, "2015-07-28 00:00:00": NaN, "2015-07-29 00:00:00": NaN, "2015-07-30 00:00:00": NaN, "2015-07-31 00:00:00": NaN, "2015-08-01 00:00:00": NaN, "2015-08-02 00:00:00": NaN, "2015-08-03 00:00:00": NaN, "2015-08-04 00:00:00": NaN, "2015-08-05 00:00:00": NaN, "2015-08-06 00:00:00": NaN, "2015-08-07 00:00:00": NaN, "2015-08-08 00:00:00": NaN, "2015-08-09 00:00:00": NaN, "2015-08-10 00:00:00": NaN, "2015-08-11 00:00:00": NaN, "2015-08-12 00:00:00": NaN, "2015-08-13 00:00:00": NaN, "2015-08-14 00:00:00": NaN, "2015-08-15 00:00:00": NaN, "2015-08-16 00:00:00": NaN, "2015-08-17 00:00:00": NaN, "2015-08-18 00:00:00": NaN, "2015-08-19 00:00:00": NaN, "2015-08-20 00:00:00": NaN, "2015-08-21 00:00:00": NaN, "2015-08-22 00:00:00": NaN, "2015-08-23 00:00:00": NaN, "2015-08-24 00:00:00": NaN, "2015-08-25 00:00:00": NaN, "2015-08-26 00:00:00": NaN, "2015-08-27 00:00:00": NaN, "2015-08-28 00:00:00": NaN, "2015-08-29 00:00:00": NaN, "2015-08-30 00:00:00": NaN, "2015-08-31 00:00:00": NaN, "2015-09-01 00:00:00": NaN, "2015-09-02 00:00:00": NaN, "2015-09-03 00:00:00": NaN, "2015-09-04 00:00:00": NaN, "2015-09-05 00:00:00": NaN, "2015-09-06 00:00:00": NaN, "2015-09-07 00:00:00": NaN, "2015-09-08 00:00:00": NaN, "2015-09-09 00:00:00": NaN, "2015-09-10 00:00:00": NaN, "2015-09-11 00:00:00": NaN, "2015-09-12 00:00:00": NaN, "2015-09-13 00:00:00": NaN, "2015-09-14 00:00:00": NaN, "2015-09-15 00:00:00": NaN, "2015-09-16 00:00:00": NaN, "2015-09-17 00:00:00": NaN, "2015-09-18 00:00:00": NaN, "2015-09-19 00:00:00": NaN, "2015-09-20 00:00:00": NaN, "2015-09-21 00:00:00": NaN, "2015-09-22 00:00:00": NaN, "2015-09-23 00:00:00": NaN, "2015-09-24 00:00:00": NaN, "2015-09-25 00:00:00": NaN, "2015-09-26 00:00:00": NaN, "2015-09-27 00:00:00": NaN, "2015-09-28 00:00:00": NaN, "2015-09-29 00:00:00": NaN, "2015-09-30 00:00:00": NaN, "2015-10-01 00:00:00": NaN, "2015-10-02 00:00:00": NaN, "2015-10-03 00:00:00": NaN, "2015-10-04 00:00:00": NaN, "2015-10-05 00:00:00": NaN, "2015-10-06 00:00:00": NaN, "2015-10-07 00:00:00": NaN, "2015-10-08 00:00:00": NaN, "2015-10-09 00:00:00": NaN, "2015-10-10 00:00:00": NaN, "2015-10-11 00:00:00": NaN, "2015-10-12 00:00:00": NaN, "2015-10-13 00:00:00": NaN, "2015-10-14 00:00:00": NaN, "2015-10-15 00:00:00": NaN, "2015-10-16 00:00:00": NaN, "2015-10-17 00:00:00": NaN, "2015-10-18 00:00:00": NaN, "2015-10-19 00:00:00": NaN, "2015-10-20 00:00:00": NaN, "2015-10-21 00:00:00": NaN, "2015-10-22 00:00:00": NaN, "2015-10-23 00:00:00": NaN, "2015-10-24 00:00:00": NaN, "2015-10-25 00:00:00": NaN, "2015-10-26 00:00:00": NaN, "2015-10-27 00:00:00": NaN, "2015-10-28 00:00:00": NaN, "2015-10-29 00:00:00": NaN, "2015-10-30 00:00:00": NaN, "2015-10-31 00:00:00": NaN, "2015-11-01 00:00:00": NaN, "2015-11-02 00:00:00": NaN, "2015-11-03 00:00:00": NaN, "2015-11-04 00:00:00": NaN, "2015-11-05 00:00:00": NaN, "2015-11-06 00:00:00": NaN, "2015-11-07 00:00:00": NaN, "2015-11-08 00:00:00": NaN, "2015-11-09 00:00:00": NaN, "2015-11-10 00:00:00": NaN, "2015-11-11 00:00:00": NaN, "2015-11-12 00:00:00": NaN, "2015-11-13 00:00:00": NaN, "2015-11-14 00:00:00": NaN, "2015-11-15 00:00:00": NaN, "2015-11-16 00:00:00": NaN, "2015-11-17 00:00:00": NaN, "2015-11-18 00:00:00": NaN, "2015-11-19 00:00:00": NaN, "2015-11-20 00:00:00": NaN, "2015-11-21 00:00:00": NaN, "2015-11-22 00:00:00": NaN, "2015-11-23 00:00:00": NaN, "2015-11-24 00:00:00": NaN, "2015-11-25 00:00:00": NaN, "2015-11-26 00:00:00": NaN, "2015-11-27 00:00:00": NaN, "2015-11-28 00:00:00": NaN, "2015-11-29 00:00:00": NaN, "2015-11-30 00:00:00": NaN, "2015-12-01 00:00:00": NaN, "2015-12-02 00:00:00": NaN, "2015-12-03 00:00:00": NaN, "2015-12-04 00:00:00": NaN, "2015-12-05 00:00:00": NaN, "2015-12-06 00:00:00": NaN, "2015-12-07 00:00:00": NaN, "2015-12-08 00:00:00": NaN, "2015-12-09 00:00:00": NaN, "2015-12-10 00:00:00": NaN, "2015-12-11 00:00:00": NaN, "2015-12-12 00:00:00": NaN, "2015-12-13 00:00:00": NaN, "2015-12-14 00:00:00": NaN, "2015-12-15 00:00:00": NaN, "2015-

# Tranform data recevied in the request

Let's imagine row_json is the data received in a request

In [145]:
import pandas as pd

row_series = pd.Series(json.loads(row_json))
# Remove the Tag column
row_series = row_series[:-1]
row_series.index = pd.to_datetime(row_series.index)

# Start on monday
row_series = row_series[5:]
row_series.shape

(1029,)

In [146]:
row_series = row_series.to_frame().T
row_series.shape

(1, 1029)

In [147]:
row_series

,2014-01-06,2014-01-07,2014-01-08,2014-01-09,2014-01-10,2014-01-11,2014-01-12,2014-01-13,2014-01-14,2014-01-15,...,2016-10-22,2016-10-23,2016-10-24,2016-10-25,2016-10-26,2016-10-27,2016-10-28,2016-10-29,2016-10-30,2016-10-31
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [148]:
daysOfWeek = row_series.columns.dayofweek
daysOfWeek

Index([0, 1, 2, 3, 4, 5, 6, 0, 1, 2,
       ...
       5, 6, 0, 1, 2, 3, 4, 5, 6, 0],
      dtype='int32', length=1029)

In [ ]:
daysOfWeek = daysOfWeek.values.reshape(1, -1)

In [150]:
daysOfWeek.shape

(1, 1029)

In [151]:
# count the number of nulls in the record
nan_count = row_series.isna().sum(axis=1)
nan_count

0    725
dtype: int64

In [152]:
nan_count[0]

725

In [153]:
#Check if the number of nulls is above the threshold
threshold = 0.71

if nan_count[0]/len(row_series.columns) > threshold:
    print('The record has too many nulls')
else:
    print('The record has an acceptable number of nulls')

The record has an acceptable number of nulls

In [154]:
import numpy as np
# 3δ principle
def process_outliers(row):
    mean = row.mean()
    std = row.std()
    threshold = mean + (3 * std)
    return pd.Series(np.where(row > threshold, threshold, row))

In [155]:
row_series.iloc[0]

2014-01-06    NaN
2014-01-07    NaN
2014-01-08    NaN
2014-01-09    NaN
2014-01-10    NaN
             ...
2016-10-27    0.0
2016-10-28    0.0
2016-10-29    0.0
2016-10-30    0.0
2016-10-31    0.0
Name: 0, Length: 1029, dtype: float64

In [156]:
row_processed = process_outliers(row_series.iloc[0])

In [157]:
def optimized_interpolation(row):
    
    values = row.values
    result = values.copy()

    # Create a mask for NaN values
    nan_mask = np.isnan(values)

    if nan_mask[0]:
        result[0] = 0
        
    if nan_mask[-1]:
        result[-1] = 0

    # Find valid interpolation points (excluding first and last columns)
    if len(values) > 2:  # Ensure there are at least three columns to interpolate
        valid_interp = nan_mask & np.roll(~nan_mask, 1) & np.roll(~nan_mask, -1)
        valid_interp[0] = False  # Exclude first column
        valid_interp[-1] = False  # Exclude last column
        
        # Perform interpolation where valid
        result[valid_interp] = (np.roll(values, 1)[valid_interp] + np.roll(values, -1)[valid_interp]) / 2
    
    # Set remaining NaNs to 0
    result[nan_mask & ~valid_interp] = 0
    
    return pd.Series(result, index=row.index)

In [ ]:
row_processed = optimized_interpolation(row_processed)

In [159]:
def minmax_normalization(row):
    min_val = row.min()
    max_val = row.max()
    
    # Calculate the range
    range_val = max_val - min_val
    
    # Check for division by zero and apply normalization
    if range_val != 0:
        return (row - min_val) / range_val
    else:
        return pd.Series(0, index=row.index)

In [ ]:
row_processed = minmax_normalization(row_processed)

In [161]:
row_processed = row_processed.values.reshape(1, -1)

In [162]:
row_processed.shape, daysOfWeek.shape

((1, 1029), (1, 1029))

In [163]:
combined_bin = np.stack((row_processed, daysOfWeek), axis=1)
combined_bin.shape

(1, 2, 1029)

In [164]:
# Get the binary mask for the raw dataset
null_mask = row_series.isnull().astype(int)
null_mask

,2014-01-06,2014-01-07,2014-01-08,2014-01-09,2014-01-10,2014-01-11,2014-01-12,2014-01-13,2014-01-14,2014-01-15,...,2016-10-22,2016-10-23,2016-10-24,2016-10-25,2016-10-26,2016-10-27,2016-10-28,2016-10-29,2016-10-30,2016-10-31
0,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0

In [165]:
null_mask.to_numpy()
null_mask.shape

(1, 1029)

In [166]:
row_processed.shape, daysOfWeek.shape, null_mask.shape

((1, 1029), (1, 1029), (1, 1029))

In [167]:
triple_mask = np.stack((row_processed, null_mask, daysOfWeek), axis = 1)
triple_mask.shape

(1, 3, 1029)

# Process single record to be predicted by the Model API

In [168]:
def process_input(record, trainingData = False):
    row_series = pd.Series(json.loads(record))

    if(trainingData):

        # Remove the Tag column (Optional - It is required for the data used in the training)
        row_series = row_series[:-1]
        row_series.index = pd.to_datetime(row_series.index)

        # Start on monday (Optional - It is required for the data used in the training)
        row_series = row_series[5:]
        row_series.shape
    
    row_series = row_series.to_frame().T

    # Get the mask of the days of the week
    daysOfWeek = row_series.columns.dayofweek
    daysOfWeek = daysOfWeek.values.reshape(1, -1)
    
    nan_count = row_series.isna().sum(axis=1)
    nan_count

    #Check if the number of nulls is above the threshold
    threshold = 0.71

    if nan_count[0]/len(row_series.columns) > threshold:
        return {
            'status': 'error',
            'message': 'The record has too many nulls. It exceeds the threshold of '+str(threshold)
        }

    row_processed = process_outliers(row_series.iloc[0])
    row_processed = optimized_interpolation(row_processed)

    row_processed = minmax_normalization(row_processed)
    row_processed = row_processed.values.reshape(1, -1)

    # Get the binary mask for the raw dataset
    null_mask = row_series.isnull().astype(int)
    null_mask

    triple_mask = np.stack((row_processed, null_mask, daysOfWeek), axis = 1)
    triple_mask.shape

    return {
        'status': 'success',
        'data': triple_mask
    }

In [173]:
record_processed = process_input(row_json, True)
record_processed['data'].shape

(1, 3, 1029)